$("#listing-<%= @listing.id %> .btn-group" ).html('<button type="button" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-flag"></span>Flagged</button>')
$("#listing-<%= @listing.id %> .content" ).html('This listing has been flagged and will no longer show up for you. It will be reviewed by an admin')