
<h1>Mail</h1>

<div id="mailbox" class="container">
  <ul  class="nav nav-tabs">
  <li class="active">
    <a  href="#inbox" data-toggle="tab">Inbox</a>
  </li>
  <li><a href="#sentbox" data-toggle="tab">Sent</a>
  </li>
  <li><a href="#archive" data-toggle="tab">Archive</a>
  </li>
</ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="inbox">
      <%  inbox = mailbox.inbox %>
      <% if inbox.count > 0 %>
        <%= render collection: inbox, partial: 'conversation' %>
      <% else %>
        <h2>You have no new messages</h2>
      <% end %>
    </div>
    <div class="tab-pane" id="sentbox">
     <%  sentbox = mailbox.sentbox %>
      <% if sentbox.count > 0 %>
        <%= render collection: sentbox, partial: 'conversation' %>
      <% else %>
        <h2>You have no sent messages</h2>
      <% end %>
    </div>
    <div class="tab-pane" id="archive">
     <%  trash = mailbox.trash %>
      <% if trash.count > 0 %>
        <%= render collection: trash, partial: 'conversation' %>
      <% else %>
        <h2>You have no archived messages</h2>
      <% end %>
    </div>
  </div>

</div>